.loader{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: inherit;
  width: inherit;
  position: absolute;
}

.loading-bar{
    width: 150px;
    height: 20px;
    border: 3px white solid;
}


/* Der Balken muss verändert werden */