.window{
    height: inherit;
    width: inherit;
    position: relative;
    z-index: 3;
} 
.character-layer {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    pointer-events: none;
    z-index: 1;
}

.character-layer img {
    max-height: 80%;
    margin: 0 1vw;   
    transition: all 0.5s ease; 
}
